@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  
}
body{
    .banner{
        width: 100%;
        height: 100vh;
        background-image:linear-gradient(rgba(0, 0, 0, 0.727), rgba(0, 0, 0, 0.536)), url(a/granite\ tiles1.jpg);
        background-size: cover;
        background-position: center;
    }
}
.banner{
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: 10px 10px 10px 10px ;
    padding: 20px 0;
    display: flex;
    align-items:center ;
    justify-content: space-between;
}
.logo{
    width: 10%;
    cursor: pointer;
    float: left;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
   
}
.navbar ul li a{
    text-decoration: none;
    color: rgba(244, 240, 240, 0.889);
    text-transform: uppercase;

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: rgb(176, 65, 65);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.logo{
    float: left;
}
.content2{
    position: relative;
    top: 600px;
    padding-left: 50px;    
    text-align: center;

    padding-bottom: 100px;
    color: white;
}
.tile1{
    margin-top: 50px;
}
.but:hover{
    background: #009688;
}
