*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    margin: 0;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.727), rgba(0, 0, 0, 0.536)), url(a/granite\ tiles1.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: 10px 10px 10px 10px ;
    padding: 20px 0; 
    display: flex;
    align-items:center ;
    justify-content: space-between;
}
.logo{
    width: 10%;
    cursor: pointer;
    float: left;
}
.navbar ul li{
    display: inline-block;
    margin: 0 15px;
    position: relative;
   
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 252, 252);
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.title{
    width: 10%;
    color: rgb(255, 252, 252);
    cursor: pointer;
    text-transform: uppercase;
    align-items:center ;
    text-align: center;
}
.title-2{
    width: 10%;
    color: rgb(255, 252, 252);
    align-items:center ;
    width: 100%;
    position: relative;
    top: 7%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    float: center;
    overflow: hidden;
}
.div1{
    font-size: 1.2em;
}
.content{
    
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    float: center;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.div1{
    font-size: 1.2em;
}